# every minute
*/1 * * * * /usr/bin/fish /home/thor/.cron/clean_home.fish 
# every 10 minutes
*/10 * * * * /usr/bin/fish /home/thor/.cron/git_sync_directories.fish 
# every day
0 0 * * * /usr/bin/fish /home/thor/.cron/sync_updates.fish 
0 0 * * * /usr/bin/fish /home/thor/.cron/git_merkle.fish 
0 0 * * * /usr/bin/fish /home/thor/.cron/run_tk_blog_publish.fish 
0 0 * * * /usr/bin/date -u && /usr/bin/python3 /home/thor/projects/github_name/main.py --backdate=1 >> /home/thor/.cron/logs/github_name.log 2>&1
0 0 * * * /usr/bin/fish /home/thor/.cron/flatpak_update.fish
0 0 * * * /usr/bin/fish /home/thor/.cron/rustup_update.fish

# sudo crontab:
# every day
0 0 * * * /usr/bin/fish /home/thor/.cron/apt.fish

